@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" action="AddCategory">

    <div class="form-group">
        <label for="exampleFormControlInput1">Category Name</label>
        <input class="form-control" type="text" name="categoryName" placeholder="Category Name">
    </div>

    <input type="submit" value="KAYDET" class="btn btn-success" />
    <hr />
    <p>
        @Html.Raw(ViewBag.mesaj)
    </p>
</form>