@{
    ViewData["Title"] = "AddRule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" action="AddRule">

    <div class="form-group">
        <label for="exampleFormControlInput1">Rule Name</label>
        <input class="form-control" type="text" name="ruleName" placeholder="Rule Name">
    </div>

    <div class="form-group">
        <label for="exampleFormControlInput1">Description</label>
        <input class="form-control" name="description" type="text" placeholder="Description">
    </div>

    


    

    <input type="submit" value="KAYDET" class="btn btn-success" />
</form>