@using TelefonSatis.Database.TelefonSatisDatabase

@model List<Rules>
@{
	ViewData["Title"] = "RuleIndex";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

	<a href="~/Rules_/AddRule" class="btn btn-success">Add Rule</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">RulesId</th>
			<th scope="col">RulesName</th>
			<th scope="col">Description</th>
			<th scope="col">Update</th>
			<th scope="col">Delete</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
		{
			<tr>
				<th scope="row">1</th>
				<td>@item.RulesId</td>
				<td>@item.RulesName</td>
				<td>@item.Description</td>
				<td> <a href="~/Rules_/UpdateRule/@item.RulesId" class="btn-sm btn-warning"> Update</a> </td>
				<td> <a href="~/Rules_/DeleteRule/@item.RulesId" class="btn-sm btn-danger">Delete</a></td>
			</tr>
		}

	</tbody>
</table>
